
<ion-view hide-nav-bar="true" view-title="Splash" hide-back-button="true">
  <ion-nav-buttons side="left"> <!-- left -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> <!-- right -->
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  
  <ion-content>
    <img src="https://s3.amazonaws.com/ionic-forum-static/forum-logo.png">
  </ion-content>
</ion-view>