<ion-view view-title="Login" hide-back-button="true" hide-nav-bar="false">
  <ion-nav-buttons side="left"> <!-- right -->
    <button class="button button-icon icon ion-refresh"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right"> <!-- right -->
    <button class="button button-icon icon ion-android-expand"></button>
  </ion-nav-buttons>

  <ion-content class="bgpositive" >
    <br> <br>
    <div class="center col-60">
      <img class="center" src="http://xmpp.hplabs.jp/demo/push/lib/avator/makoto.jpg" style="width:128px;">
      <br>
      <label class="item item-input">
        <span class="input-label">Nickname</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password">
      </label>

      <button class="button button-outline button-block button-light">
        Login
      </button>
    </div>
  </ion-content>

    
</ion-view>
